input {
  font-family: inherit;
  font-size: 100%;
  font-weight: bold;
  vertical-align: baseline;
  outline: 0;
  color: #fff;
  display: block;
  margin: 0 0 20px;
  padding: 8px 12px 10px 12px;
  border: 1px solid rgb(35, 35, 35);
  background: rgb(35, 35, 35);
}
.recorder {
  position: fixed;
  bottom: 0;
  height: 48px;
  padding: 14px 0 14px 0;
  background-color: black;
  width: 100vw;
  z-index: 3;
  text-align: center;
}
a.download {
  text-decoration: none;
}
video.recording {
  z-index: 5;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  position: fixed;
  height: calc(100vh - 76px);
  width: 100vw;
  object-fit: cover;
  background-color: black;
}
.player {
  width: 100vw;
  position: fixed;
  z-index: 2;
  top: 0;
  height: calc(100vh - 80px);
  padding: 14px 0 14px 0;
  background: black;
  text-align: center;
}
.player .title {
  width: calc(100vw - 42px);
}
.player .info {
  position: relative;
  top: 0;
}
.player .info .type {
  position: relative;
  top: calc(50vh - 100px);
}
.player .controls {
  position: relative;
  top: calc(100vh - 250px);
  left: -8px;
  text-align: center;
}
.player .controls .progress {
  width: 100vw;
  height: 10px;
  position: fixed;
  bottom: 140px;
  background-color: #222;
  cursor: pointer;
}
.player .controls .progress .timeline {
  height: 100%;
  background-color: rgb(235, 0, 1);
  width: 0;
}
.player .controls .progress .current-time {
  position: fixed;
  bottom: 112px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-align: right;
  right: 6px;
  font-size: larger;
}
.player {
  display: none;
}
.player.playing, .player.stopped {
  display: inline-block;
}
.player.playing .controls img, .player.stopped .controls img {
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: relative;
  padding: 0 12px 0 12px;
}
.player.playing .controls .back, .player.stopped .controls .back {
  left: 0;
  position: fixed;
}
.player.playing .pause, .player.playing .stop, .player.playing .increase, .player.playing .decrease {
  display: inline-block;
  position: fixed;
  cursor: pointer;
}
.player.playing .play, .player.playing .delete {
  display: none;
}
.player.stopped .pause, .player.stopped .stop, .player.stopped .increase, .player.stopped .decrease {
  display: none;
}
video.playing {
  z-index: 4;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  position: fixed;
  height: calc(100vh - 150px);
  width: 100vw;
  object-fit: cover;
  background-color: black;
}
.recorder .stop {
  display: none;
  cursor: pointer;
}
.recorder .audio {
  cursor: pointer;
}
.recorder .video {
  cursor: pointer;
}
.recorder.recording .audio, .recorder.recording .video {
  display: none;
}
.recorder.recording .stop {
  display: inline-block;
}
.recorder img {
  padding: 0 12px 0 12px;
}
.recorder .controls {
  position: relative;
  left: -8px;
}
body {
  background-color: black;
  position: relative;
  margin: 0 8px 0 8px;
  overflow-x : hidden;
}
html, body {
  height: 100vh;
  width: 100vw;
}
.track .title, .track .duration {
  margin: 0;
  display: inline-block;
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 0 10px 10px;
  position: absolute;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 10px);
}
.track .duration {
  bottom: 0;
}
.track .title {
  top: 0;
}
.track .type {
  margin: 0;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}
.tracks {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  overflow-x : hidden;
}
.tracks .slider {
  display: inline-block;
  width: 100vw;
  margin: 0 0 0 3px;
}
.track {
  background-color: #2a3e29;
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: calc(50vw - 13px);
  height: 30vh;
  max-width: 400px;
  max-height: 350px;
  outline: solid 3px white;
  padding: 0;
}
.tracks .day {
  color: white;
  text-transform: uppercase;
  padding: 5px 5px 5px 0;
}

.tracks .title {
  overflow: hidden;
}
