html, body {
  background-color: #191414;
  color: #f4f9f9;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

button {
  background-color: #191414;
  border: none;
}


.recorder {
  position: sticky;
  top: 0;
  background-color: #191414;
  font-size: x-large;
}

.recorder button {
  font-size: x-large;
}

button {
  color: #f4f9f9;
}

button:focus {
  outline: none;
}

.recorder button {
  color: red;
}

.recorder:not(.recording) > .stop {
  display: none;
}

.recorder.recording > .record {
  display: none;
}

.track:not(.playing) > .pause, .track:not(.playing) > .stop {
  display: none;
}

.track.playing .play, .track.playing .delete {
  display: none;
}

.track.playing > .title:after {
  content: '🔊';
  margin-left: 12px;
}

.track.playing, .track.playing button {
  background-color: #30944b;
}

.col {
  flex: 1;
  padding: 12px 0 12px 12px;
}

.record, .play, .delete, .pause, .stop {
  font-size: 18px;
  font-weight: bolder;
  border: none;
}

.record:hover, .play:hover, .delete:hover, .pause:hover, .stop:hover{
  cursor: pointer;
}

.play {
  color: #7beb1c;
}

.delete {
  color: red;
}

.title {
  text-transform: uppercase;
}

h1 {
  text-align: center;
}
